<app-navbar></app-navbar>
<div class="container w-50 my-3">   
    <h2 class="text-center my-4">Registrar una propiedad</h2>     
    <form>
        <div class="form-group">
            <div class="my-2">
                <label for=" descripcion ">Descripcion</label>
                <input type="text " class="form-control input-lg text-center " placeholder="Despliegue reseña de la propiedad " id="descripcion " ng-model="formData.descripcion ">
            </div>
            <div class="my-2">
                <label for="tipo ">Tipo</label>
                <input type="text " class="form-control input-lg text-center " placeholder="Describa el tipo de inmueble " ng-model="formData.tipo ">
            </div>
            <div class="my-2">
                <label for="ubicacion ">Ubicación</label>
                <input type="objectid " class="form-control input-lg text-center " placeholder="Indique una ubicacion " ng-model="formData.ubicacion ">
            </div>
            <div class="my-2">
                <label for="habitaciones ">Número de habitaciones</label>
                <input type="int32 " class="form-control input-lg text-center " placeholder="Indique número de habitaciones " ng-model="formData.habitaciones ">
            </div>
            <div class="my-2">
                <label for="estacionamiento ">Estacionamiento</label>
                <input type="boolean " class="form-control input-lg text-center " placeholder="Tiene estacionamiento la propiedad? " ng-model="formData.estacionamiento ">
            </div>
            <div class="my-2">
                <label for="imagenes ">Imagenes</label>
                <input type="file " class="form-control input-lg text-center " placeholder="CHOOSEFILE " ng-model="formData.ubicaccion ">
            </div>
            <div class="my-2">
                <label for="precio ">Precio</label>
                <input type="int64 " class="form-control input-lg text-center " placeholder="Indique precio de la propiedad " ng-model="formData.precio ">
            </div>

        </div>
        <button class="btn btn-primary btn-lg " ng-click="RegistrarInmueble() ">Registrar</button>
    </form>
</div>
<app-footer></app-footer>

