<app-navbar></app-navbar>
<body>    
    <a href="javascript:;" id="lbtnTest"> Llamar </a>
    <form>
        <div class="form-group">
            <label for=" descripcion ">descripcion</label><br>
            <input type="text " class="form-control input-lg text-center " placeholder="Despliegue reseña de la propiedad " id="descripcion " ng-model="formData.descripcion ">
            <label for="tipo ">Tipo</label><br>
            <input type="text " class="form-control input-lg text-center " placeholder="Describa el tipo de inmueble " ng-model="formData.tipo ">
            <label for="ubicacion ">Ubicacion</label><br>
            <input type="objectid " class="form-control input-lg text-center " placeholder="Indique una ubicacion " ng-model="formData.ubicacion ">
            <label for="habitaciones ">habitaciones</label><br>
            <input type="int32 " class="form-control input-lg text-center " placeholder="Indique número de habitaciones " ng-model="formData.habitaciones ">
            <label for="estacionamiento ">Estacionamiento</label><br>
            <input type="boolean " class="form-control input-lg text-center " placeholder="Tiene estacionamiento la propiedad? " ng-model="formData.estacionamiento ">
            <label for="imagenes ">Imagenes</label><br>
            <input type="file " class="form-control input-lg text-center " placeholder="CHOOSEFILE " ng-model="formData.ubicaccion ">
            <label for="precio ">Precio</label><br>
            <input type="int64 " class="form-control input-lg text-center " placeholder="Indique precio de la propiedad " ng-model="formData.precio ">

        </div>
        <button class="btn btn-primary btn-lg " ng-click="RegistrarInmueble() ">Registrar</button>
    </form>
</body>
<app-footer></app-footer>

