<app-navbar></app-navbar>
<div class="container w-50 my-3" style='min-height:570px'>   
    <h2 class="text-center my-4">Registrar una propiedad</h2>     
    <form (ngSubmit)="onSubmit()" #RegistroPropiedad="ngForm">
        <div class="form-group">
            <div class="my-2">
                <label for=" descripcion ">Descripcion</label>
                <input type="text" class="form-control input-lg text-center" placeholder="Escriba una breve reseña de la propiedad" id="tipo"                                            
                [(ngModel)]="model.descripcion" 
                name="descripcion"
                #descripcion="ngModel" >
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select 
                class="form-control" 
                id="tipo"                                            
                [(ngModel)]="model.tipo" 
                name="tipo"
                #tipo="ngModel"                
                >
                <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
              </select>
            </div>
            <div class="form-group">
                <label for="tipo">Ubicacion</label>
                <select 
                class="form-control" 
                id="ubicacion"                                            
                [(ngModel)]="model.ubicacion" 
                name="ubicacion"
                #ubicacion="ngModel"                
                >
                <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion._id">{{ubicacion.barrio}}-{{ubicacion.ciudad}}</option>
              </select>
            </div>
            <div class="my-2">
                <label for="habitaciones ">Número de habitaciones</label>
                <input
                    type="text"
                    class="form-control input-filtro"                    
                    id="habitaciones"
                    [(ngModel)]="model.habitaciones"
                    name="habitaciones"
                    #habitaciones="ngModel" 
                    aria-label="habitaciones"
                    
                    />
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="false"
                      id="estacionamiento"
                      [(ngModel)]="model.estacionamiento"
                      name="estacionamiento"
                      #estacionamiento="ngModel"                       
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Cuenta con estacionamiento
                    </label>
                  </div>                           
            </div>
            <div class="my-2">
                <label for="imagenes ">Imagenes</label>
                <input type="file" class="form-control input-lg text-center ">
            </div>
            <div class="my-2">
                <label for="precio ">Precio</label>
                <input
                    type="text"
                    class="form-control input-filtro"                    
                    id="precio"
                    [(ngModel)]="model.precio"
                    name="precio"
                    #precio="ngModel" 
                    aria-label="precio"
                    
                    />
            </div>

        </div>
        <button class="btn btn-primary" (click)="registrar(RegistroPropiedad)">Registrar</button>
        <div *ngIf='fieldAlert'>
            <p style='color:red'>
                Debe completar todos los campos
            </p>
        </div>
    </form>
</div>
<app-footer></app-footer>

