<div class="card mx-auto my-5 rounded-3 filtro">
    <h5 class="card-title mx-3 my-3">Filtrar</h5>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #propForm="ngForm">
            <div class="form-group">
                <label for="ubicacion" class="form-label">Ubicacion</label>
                <input
                  type="text"
                  class="form-control"
                  id="ubicacion"
                  [(ngModel)]="model.ubicacion" 
                  name="ubicacion"
                  #ubicacion="ngModel"
                  placeholder="Ubicacion"
                  aria-label="ubicacion"                                   
                />
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select class="form-control" id="tipo"                      
                      [(ngModel)]="model.tipo" name="tipo"
                      #tipo="ngModel">
                <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
              </select>
            </div>
            <div class="form-group">                
                <label for="habitaciones" class="form-label">Habitaciones</label>
                <div class="d-flex justify-content-around">
                    <input
                    type="text"
                    class="form-control input-filtro"
                    placeholder="min"
                    id="habitaciones-min"
                    [(ngModel)]="model.habitacionesMin"
                    #habitacionesMin="ngModel" 
                    aria-label="habitaciones-min"
                    
                    />
                    <input
                    type="text"
                    class="form-control input-filtro"
                    placeholder="max"
                    id="habitaciones-max"
                    [(ngModel)]="model.habitacionesMax"
                    #habitacionesMax="ngModel" 
                    aria-label="habitaciones-max"
                    
                    />
                </div>
            </div>                
            <div class="form-group">                
                <label for="precio" class="form-label">Precio</label>
                <div class="d-flex justify-content-around">
                    <input
                    type="text"
                    class="form-control input-filtro"
                    placeholder="min"
                    id="precio-min"
                    [(ngModel)]="model.precioMin"
                    #precioMin="ngModel" 
                    aria-label="precio-min"
                    
                    />
                    <input
                    type="text"
                    class="form-control input-filtro"
                    placeholder="max"
                    id="precio-max"
                    [(ngModel)]="model.precioMax"
                    #precioMax="ngModel" 
                    aria-label="precio-max"
                    
                    />
                </div>
            </div>                            
            <div class="form-group">
                <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value="false"
                      id="estacionamiento"
                      [(ngModel)]="model.estacionamiento"
                      #estacionamiento="ngModel"                       
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      Cuenta con estacionamiento
                    </label>
                  </div>                           
            </div>
            <button type="submit" class="btn btn-success">Submit</button>                                     
        </form>
      
    </div>
  </div>