<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" charset="utf-8" content="text/html">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="auth.component.css">
    </head>
    <body>
        <form action="/authenticate" method='POST' class='registro'>
            <H2>Login</H2>
            <div class="section">
                <div class="title">Usuario</div>
                <div class="field"><input type="text" id="username" class="ingreso_datos" name="username"></div>
            </div>
            <div class="section">
                <div class="title">Contraseña</div>
                <div class="field"><input type="text" id="password" class="ingreso_datos" name="password"></div>
            </div>
            <div class="section">
                <div class="button"><input class='boton' type="submit" value="Login"></div>
                <div><a href="signub.html">Registrase</a></div>
            </div>
        </form>
    </body>
</html>