<app-navbar></app-navbar>
<body>
    <div class="encabezado" style="color: rgb(234, 234, 241);">
        <h2> FORMULARIO DE REGISTRO </h2>
         <p>
           ESTO ES UN APARTADO IMPORTANTE PARA HACER EL REGISTRO DE SU IDENTIDAD
         </p>
         
    </div>
    
    <div class="contenedor">
    
    <label for="cedula">Cedula</label><br>
    <input type="text" id="cedula"/><br>

    <label for="contraseña">Contraseña</label><br>
    <input type="text" id="contraseña" /><br>

    <button> validar informacion</button>

    <label>Acepta las políticas de privacidad </label><br>
    <input type="checkbox" id="checkbox" value="si"/><br>
</div>

    <script src="clase_jueves.js"></script>

</body>
<app-footer></app-footer>
