<app-navbar></app-navbar>
<body>
    <div class="seccion2"></div>
    <div class="titulo2">
    <h1> SOMOS UNA INMOBILIARIA CON EXPERIENCIA CERTIFICADA</h1>
        <p>Somos una reconocida empresa en el sector inmobiliario con más de 30 años de experiencia en servicios integrales como ventas, arrendamientos avalúos, particulares o corporados, somos miembros de la lonja de avaluadores de Caldas, contamos con registro nacional de Asolonjas Colombia, contamos con certificación Sena en competencias laborales en avalúos, certificados en las nuevas normas contables internacionales NIIF, valoración de inmuebles rurales urbanos, vehículos y especiales.</p>
    </div>
    </body>
<app-footer></app-footer>